<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/style.css}" type="text/css" rel="stylesheet">
<!--    <link rel="stylesheet" href="../static/styles/style.css" type="text/css">-->
</head>

<body>
<main>
    <div class="container2">
        <h2>Добро пожаловать</h2>
        <form
                method="post"
                role="form"
                th:action="@{/login}"
                class="form-horizontal"
        >
            <div>
                <label class="control-label"> Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter name"
                />
            </div>

            <div>
                <label class="control-label"> Password</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password"
                />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <span> Not registered ?
                                <a th:href="@{/register}">Register/Signup here</a>
                            </span>
            </div>
        </form>
    </div>
</main>
</body>
</html>