<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleLogPage.css}">
</head>
<body>
    <main>
        <div class="container1">
            <h1>Авторизуйтесь</h1>
            <div th:if="${param.error}">Пользователь не найден! Проверьте логин и пароль!</div>
            <div th:if="${param.logout}">Вы можете выйти из системы.</div>
            <form th:action="@{/login}" method="post">
                <div>
                    <label>
                        <input type="text" name="username" placeholder="Login"/>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="password" name="password" placeholder="Password"/>
                    </label>
                </div>
                <input type="submit" value="Log in"/>
                <div><span>Не зарегистрирован?<a th:href="@{/register}"> Регистрация тут.</a></span>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
