<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<main>
    <div class="container1">
        <h2>Измените описание заметки</h2>
        <form th:action="@{/admin}" th:object="${user}" th:method="post" method="post">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Почта</th>
                    <th>Роль</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${user}">
                    <td>
                        <label for="id"></label>
                        <input size="5%" readonly type="number" th:field="*{id}" id="id">
                    </td>
                    <td>
                        <label for="firstName"></label>
                        <input size="15%" readonly type="text" th:field="*{name}" id="firstName">
                    </td>
                    <td>
                        <label for="lastName"></label>
                        <input size="20%" readonly type="text" th:field="*{password}" id="lastName">
                    </td>
                    <td>
                        <label for="telNumber"></label>
                        <input size="20%" type="text" th:field="*{telNumber}" id="telNumber">
                    </td>
                    <td>
                        <label for="email"></label>
                        <input size="20%" type="text" th:field="*{email}" id="email">
                    </td>
                    <td>
                        <label for="userRole"></label>
                            <select th:field="*{userRole}" id="userRole">
                                <option value="">--Выбрать роль--</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                    <td><a><input type="submit" value="Изменить"></a></td>
                </tr>
                </tbody>
            </table>
        </form>
        <h1></h1>
    </div>
</main>
</body>
</html>